.brief{
	width:100%;
	padding-top:127px;
	padding-bottom:47px;
}
.brief>.min_width{
	max-width:1025px;
	min-width:300px;
	margin:0 auto;
}
.brief>.min_width>.brief_first{
	width:26.634146%;
	float:left;
	border-right:1px solid #bababa;
	box-sizing:border-box;
}
.brief>.min_width>.brief_first>li{
	width:100%;
	height:80px;
	padding-right:6.273062%;
	line-height:80px;
	box-sizing:border-box;
}
.brief>.min_width>.brief_first li>a{
	width:100%;
	display:block;
	line-height:80px;
	font-size:21px;
	color:#222222;
	padding-left:70px;
	box-sizing:border-box;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;	
}
/*teshu*/
.brief>.min_width>.brief_first li:first-of-type>.newborn{
	background:url(../images/xsjx.gif) no-repeat 20px 20px;
	border-bottom:4px solid #fa9634;
}
.brief>.min_width>.brief_first li:nth-of-type(2)>.base{
	background:url(../images/hy.gif) no-repeat 20px 20px;	
	border-bottom:4px solid #fa9634;
}
.brief>.min_width>.brief_first li:nth-of-type(3)>.game{
	background:url(../images/ydh_1.gif) no-repeat 20px 20px;	
	border-bottom:4px solid #fa9634;
}
.brief>.min_width>.brief_first li:nth-of-type(4)>.training{
	background:url(../images/dxs.gif) no-repeat 20px 20px;	
	border-bottom:4px solid #fa9634;
}
.brief>.min_width>.brief_first li:nth-of-type(5)>.party{
	background:url(../images/hj.gif) no-repeat 20px 20px;
	border-bottom:4px solid #fa9634;
}
.brief>.min_width>.brief_first li:last-of-type>.act{
	background:url(../images/sdwh.gif) no-repeat 20px 20px;		
	border-bottom:4px solid #fa9634;
}

/*teshu*/
.brief>.min_width>.brief_first li:first-of-type>a{
	background:url(../images/xsjx_1.gif) no-repeat 20px 20px;
}
.brief>.min_width>.brief_first li:first-of-type>a:hover{
	background:url(../images/xsjx.gif) no-repeat 20px 20px;
	border-bottom:4px solid #fa9634;
}
.brief>.min_width>.brief_first li:nth-of-type(2)>a{
	background:url(../images/hy_1.gif) no-repeat 20px 20px;	
}
.brief>.min_width>.brief_first li:nth-of-type(2)>a:hover{
	background:url(../images/hy.gif) no-repeat 20px 20px;	
	border-bottom:4px solid #fa9634;
}
.brief>.min_width>.brief_first li:nth-of-type(3)>a{
	background:url(../images/ydh_1.gif) no-repeat 20px 20px;	
}
.brief>.min_width>.brief_first li:nth-of-type(3)>a:hover{
	background:url(../images/ydh.gif) no-repeat 20px 20px;	
	border-bottom:4px solid #fa9634;
}
.brief>.min_width>.brief_first li:nth-of-type(4)>a{
	background:url(../images/dxs_.gif) no-repeat 20px 20px;	
}
.brief>.min_width>.brief_first li:nth-of-type(4)>a:hover{
	background:url(../images/dxs.gif) no-repeat 20px 20px;	
	border-bottom:4px solid #fa9634;
}
.brief>.min_width>.brief_first li:nth-of-type(5)>a{
	background:url(../images/hj_1.gif) no-repeat 20px 20px;	
}
.brief>.min_width>.brief_first li:nth-of-type(5)>a:hover{
	background:url(../images/hj.gif) no-repeat 20px 20px;	
	border-bottom:4px solid #fa9634;
}
.brief>.min_width>.brief_first li:last-of-type>a{
	background:url(../images/sdwh_1.gif) no-repeat 20px 20px;	
}
.brief>.min_width>.brief_first li:last-of-type>a:hover{
	background:url(../images/sdwh.gif) no-repeat 20px 20px;	
	border-bottom:4px solid #fa9634;
}
.brief>.min_width>.brief_second{
	width:73.365853%;
	float:left;
	padding-left:48px;
	box-sizing:border-box;
	padding-bottom:79px;
}
.brief>.min_width>.brief_second p{
	line-height:29px;
	font-size:17px;
	text-indent:30px;
	color:#000000;
}
.brief>.min_width>.brief_second p:first-of-type{
	padding-top:30px;
}
/*二*/
@media screen and (max-width:1048px){
	.flexslider{
		display:block;
		max-height:300px;
	/*	min-height:300px;*/
	}
	.brief{
		padding-top:100px;
	}
}
@media screen and (max-width:1000px){
	.brief{
		padding-top:47px;
	}	
}
@media screen and (max-width:840px){
    .brief>.min_width>.brief_first h3:nth-of-type(7)>a>span{
    	display:none;
    }	
}
@media screen and (max-width:760px){
	.brief>.min_width{
		width:94.37751%;
		margin:0 auto;
	}
    .brief>.min_width>.brief_first{
    	width:100%;
    	float:none;
    	border:0;
    	width:;
    }
    .brief>.min_width>.brief_second{
    	width:100%;
    	padding-left:0;
    }
    .brief>.min_width>.brief_first>li{
    	float:left;
    	width:33.33333%;
    	height:108px;
    	padding-right:0;
    	font-size:20px;
    	font-weight:100;
    }
    .brief > .min_width > .brief_second p{
    	font-size:15px;
    }
    .brief>.min_width>.brief_first>li a{
    	height:94px;
    	line-height:135px;
    	text-align:center;
    	padding-left:0;
    	font-size:18px;
    }
    /*teshu*/
   .brief>.min_width>.brief_first li:first-of-type>.newborn{
		background:url(../images/xsjx.gif) no-repeat center 0;
		border-bottom:4px solid #fa9634;
    }
   .brief>.min_width>.brief_first li:first-of-type>.newborn:hover{
		background:url(../images/xsjx.gif) no-repeat center 0;
    }
    .brief>.min_width>.brief_first li:nth-of-type(2)>.base{
		background:url(../images/hy.gif) no-repeat center 0;	
		border-bottom:4px solid #fa9634;
    }
    .brief>.min_width>.brief_first li:nth-of-type(2)>.base:hover{
    	background:url(../images/hy.gif) no-repeat center 0;
    }
	.brief>.min_width>.brief_first li:nth-of-type(3)>.game{
		background:url(../images/ydh_1.gif) no-repeat center 0;	
	}
	.brief>.min_width>.brief_first li:nth-of-type(3)>.game:hover{
		background:url(../images/ydh_1.gif) no-repeat center 0;	
		border:0;
	}
	.brief>.min_width>.brief_first li:nth-of-type(4)>.training{
		background:url(../images/dxs.gif) no-repeat center 0;	
	}
	.brief>.min_width>.brief_first li:nth-of-type(4)>.training:hover{
		background:url(../images/dxs.gif) no-repeat center 0;
		border:0;	
	}
	.brief>.min_width>.brief_first li:nth-of-type(5)>.party{
		background:url(../images/hj.gif) no-repeat center 0;
	}
	.brief>.min_width>.brief_first li:nth-of-type(5)>.party:hover{
		background:url(../images/hj.gif) no-repeat center 0;
		border:0;
	}
	.brief>.min_width>.brief_first li:last-of-type>.act{
		background:url(../images/sdwh.gif) no-repeat center 0;		
	} 
	.brief>.min_width>.brief_first li:last-of-type>.act:hover{
		background:url(../images/sdwh.gif) no-repeat center 0;		
		border:0;
	}    
    
    /*teshu*/ 
    .brief>.min_width>.brief_first li:first-of-type>a{
    	background:url(../images/xsjx_1.gif) no-repeat center 0;
    }
    .brief>.min_width>.brief_first li:first-of-type>a:hover{
    	background:url(../images/xsjx_1.gif) no-repeat center 0;
    	border:0;
    }
    .brief>.min_width>.brief_first li:nth-of-type(2)>a{
    	background:url(../images/hy_1.gif) no-repeat center 0;	
    }
    .brief>.min_width>.brief_first li:nth-of-type(2)>a:hover{
    	background:url(../images/hy_1.gif) no-repeat center 0;	
    	border:0;
    }
	.brief>.min_width>.brief_first li:nth-of-type(3)>a{
		background:url(../images/ydh_1.gif) no-repeat center 0;	
	}
	.brief>.min_width>.brief_first li:nth-of-type(3)>a:hover{
		background:url(../images/ydh_1.gif) no-repeat center 0;	
		border-bottom:0;
	}
	.brief>.min_width>.brief_first li:nth-of-type(4)>a{
		background:url(../images/dxs_.gif) no-repeat center 0;	
	}
	.brief>.min_width>.brief_first li:nth-of-type(4)>a:hover{
		background:url(../images/dxs_.gif) no-repeat center 0;
		border-bottom:0;
	}
	.brief>.min_width>.brief_first li:nth-of-type(5)>a{
		background:url(../images/hj_1.gif) no-repeat center 0;	
	}
	.brief>.min_width>.brief_first li:nth-of-type(5)>a:hover{
		background:url(../images/hj_1.gif) no-repeat center 0;	
		border-bottom:0;
	}
	.brief>.min_width>.brief_first li:last-of-type>a{
		background:url(../images/sdwh_1.gif) no-repeat center 0;	
	}
	.brief>.min_width>.brief_first li:last-of-type>a:hover{
		background:url(../images/sdwh_1.gif) no-repeat center 0;
		border-bottom:0;
	}    
}
@media screen and (max-width:480px) {
	.flexslider{
		padding-top:65px;
	}
	.brief > .min_width > .brief_second p{
		font-size:14px;
	}
	.brief > .min_width > .brief_second p:first-of-type{
		padding-top:10px;
	}
	.brief > .min_width > .brief_first li>a{
		font-size:16px;
	}
	.brief > .min_width > .brief_first li>a>span{
		display:none;
	}
	.flex-control-nav li{
		width:30px;
		height:4px;
	}
	.flex-control-nav li>a{
		width:30px;
		height:4px;
	}
	*{
		font-family:"宋体";
	}	
}